* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

#scanButton {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#scanButton:hover {
  background-color: #0056b3;
}

#deviceList {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}

.device-item {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.device-name {
  font-size: 16px;
}

.connect-button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-button:hover {
  background-color: #218838;
}

/* Стиль для анимации загрузки */
#loadingSpinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loadingSpinner img {
  width: 64px;
  height: auto;
}