body {
    font-family: Arial, sans-serif;
}

#results {
    margin-top: 20px;
}

.recipe {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.recipe-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.recipe-details {
    display: none;
}

.show-details .recipe-details {
    display: block;
}